<h1>NGX Stackblitz Demo</h1>

<h2>Create New Project</h2>

<div class="demo">
  <ngx-stackblitz-editor
    [files]="files"
    title="My test project"
    description="Just a test"
    template="javascript"
    (changed)="saveTree($event)"></ngx-stackblitz-editor>
</div>

<h2>Import GitHub Project</h2>

<div class="demo">
  <ngx-stackblitz-editor
    repo="dig-platform/plugin-template"
    (changed)="saveTree($event)"></ngx-stackblitz-editor>
</div>

<h2>Import Existing Project</h2>

<div class="demo">
  <ngx-stackblitz-editor
    projectID="angular-gm62sj"
    (changed)="saveTree($event)"></ngx-stackblitz-editor>
</div>
